<mat-toolbar color="primary">
  <span>News Headlines</span>  
  <span class="example-spacer"></span>
  <button mat-button [matMenuTriggerFor]="appMenu"><mat-icon>settings</mat-icon></button>  
</mat-toolbar>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item> Settings </button>
  <button mat-menu-item> Help </button>
</mat-menu>
<mat-sidenav-container class="example-container">

<div class="container margin-top" fxLayout="wrap row" fxLayout.xs="column" fxLayoutGap="1%" fxLayoutAlign="center">
  <mat-card class="filter">
    <form>
      <mat-form-field>
        <mat-select placeholder="News Source" name="source" required>
          <mat-option *ngFor="let source of articlesList" [value]="source.author">
            {{source.author}} - {{ source.author }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" >Filter News to
        <span style="text-transform: capitalize; ">Here</span>
      </button>
    </form>
  </mat-card>
</div>


<div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let article of articlesList">
    <mat-card class="mat-elevation-z4" >
      <mat-card-header>
        <mat-card-title>{{article.title}}</mat-card-title>
      </mat-card-header>
      
      <img mat-card-image src={{article.urlToImage}}>
      <mat-card-content>
        <p>
          {{article.description}}
        </p>

        <p>
          Authored by: {{article.author}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>